h1{
    text-align: center;
    color: brown;
    font-size: 43px;
  }
  #foto{
    width:55%;
    margin:auto; 
    display:block
  }
  h2{
    font-size: 35px;
    color:brown;
   
   }
  h3,h5{
    color: #000000
  }